@media (max-width: 1024px) {
  .form__input,
  .form__select {
    width: 100%;
  }

  .form__input {
    margin-bottom: 19px;
  }
}

@media (max-width: 992px) {
  .header__nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    min-width: 250px;
    height: 100vh;
    z-index: 1000;
    padding: 50px;
    box-shadow: 0 0 5px #888;
    background-color: #fff;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility .3s ease-in-out, transform .3s ease-in-out;
  }

  .header__nav .nav__list {
    flex-direction: column;
  }

  .header__nav .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header__nav .nav__link {
    font-size: 18px;
  }

  .header__nav-active {
    visibility: visible;
    transform: none;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .header__btn {
    margin-right: 7px;
    padding: 12px 35px;
  }

  .burger {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid currentColor;
    border-radius: 3px;
    color: #3172b9;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 20px;
    height: 2px;
    border-radius: inherit;
    background-color: currentColor;
    transform: translateX(-50%);
    transition-property: transform, top, left;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
  }

  .burger__line:nth-child(1){
    top: 13px;
  }

  .burger__line:nth-child(3) {
    bottom: 13px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .burger-active
  .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger-active
  .burger__line:nth-child(1) {
    top: 50%;
    left: 25%;
    transform: rotate(45deg);
    transform-origin: center;
  }

  .burger-active
  .burger__line:nth-child(3) {
    top: 50%;
    left: 25%;
    bottom: auto;
    transform: rotate(-45deg);
    transform-origin: center;
  }

  .hero__content {
    max-width: 75%;
  }

  .services__list {
    flex-wrap: wrap;
  }

  .card-list__item {
    width: calc((100% - (var(--gap))) / 2);
    margin-bottom: var(--gap);
  }

  .card-list__item:not(:nth-child(4n)) {
    margin-right: 0;
  }

  .card-list__item:not(:nth-child(2n)) {
    margin-right: var(--gap);
  }

  .blog-preview {
    height: 100%;
  }
  .blog-preview__link {
    height: 100%;
  }

  .clients-list__item {
    padding: 20px;
  }

  .form {
    padding: 0;
  }

  .footer__container {
    flex-direction: column;
  }
  .footer__left {
    margin-bottom: var(--gap);
  }
}

@media (max-width: 768px) {
  .blog-preview__link {
    flex-direction: column;
  }

  .clients-list {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .clients-list__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .clients-list__item {
    width: calc((100% - (var(--gap))) / 2);
    margin-bottom: var(--gap);
  }

  .footer__nav {
    margin-right: 25px;
  }

  .footer__nav .nav__item:not(:last-child) {
    margin-right: 15px;
  }

  .social__item:not(:last-child) {
    margin-right: 15px;
  }
}

@media (max-width: 576px) {
:root {
  --gap: 15px;
}

  .header {
    padding: 15px 0;
  }

  .header__logo {
    width: 80px;
  }

  .header__btn {
    padding: 12px 21px;
  }

  .hero {
    padding-top: 29px;
    padding-bottom: 0;
    background-image: none;
  }

  .hero__content {
    max-width: 100%;
  }

  .hero__title {
    margin-bottom: 15px;
  }

  .hero__descr {
    margin-bottom: 16px;
  }

  .hero__wrapper {
    width: 100%;
  }

  .hero__btn {
    width: 100%;
  }

  .section-offset {
    padding: 60px 0;
  }

  .section-title {
    margin-bottom: 14px;
    padding-top: 2px;
    text-align: left;
  }

  .section-descr {
    margin-bottom: 15px;
    text-align: left;
  }

  .services__list {
    margin-bottom: -20px;
  }

  .card-list__item {
    min-height: 222px;
    margin-bottom: 20px;
    padding: 14px 14px;
  }

  .card-list__icon {
    width: 42px;
    height: 42px;
    margin-bottom: 16px;
  }

  .card-list__title {
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
  }

  .card-list__descr {
    font-weight: 400;
    font-size: 12px;
  }

  .articles__title {
    margin-bottom: 13px;
    padding-top: 1px;
  }

  .articles__item:not(:nth-child(2n)) {
    margin-right: 0;
  }

  .articles__item:nth-child(-n +2) {
    margin-bottom: 0;
  }
  .articles__item:not(:last-child) {
    margin-bottom: var(--gap);
  }

  .articles__item {
    width: 100%;
  }

  .blog-preview {
    min-height: 191px;
  }

  .blog-preview__link {
    flex-direction: row;
    align-items: center;
  }

  .blog-preview__image {
    flex-shrink: 0;
    width: 86px;
    height: 100%;
  }

  .blog-preview__text {
    padding: 15px;
    padding-top: 12px;
    padding-bottom: 10px;
  }

  .blog-preview__time {
    margin-bottom: 4px;
  }

  .blog-preview__title {
    margin-bottom: 3px;
  }

  .clients-list__item {
    width: 100%;
    padding-bottom: 17px;
  }

  .clients-list__descr {
    margin-bottom: 31px;
    line-height: 178%;
  }

  .client {
    padding: 29px 0 0;
  }

  .clients {
    padding-bottom: 45px;
  }

  .contacts__list {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .contacts__item:not(:last-child) {
    margin-right: 0;
  }

  .contacts__item {
    width: 100%;
    margin-bottom: 30px;
    padding-top: 39px;
  }

  .contacts__caption {
    margin-bottom: 10px;
  }

  .contacts {
    padding-bottom: 29px;
  }

  .join-us__descr {
    margin-bottom: 37px;
  }

  .form__top {
    flex-wrap: wrap;
    margin-bottom: var(--gap);
  }

  .form__top-left,
  .form__top-right {
    width: 100%;
  }

  .form__input:not(:last-child) {
    margin-bottom: var(--gap);
  }

  .form__input {
    padding: 0 19px;
  }

  .form__select {
    margin-bottom: var(--gap);
    padding: 0 var(--gap);
  }

  .form__textarea {
    min-height: 236px;
    padding: 16px 19px;
  }

  .form__bottom {
    justify-content: center;
  }

  .form__bottom-wrapper {
    width: 100%;
  }

  .form__btn {
    width: 100%;
    margin-bottom: var(--gap);
    padding: 22px 0;
  }

  .join-us {
    padding-bottom: 58px;
  }

  .footer__container {
    flex-direction: column-reverse;
  }

  .footer {
    padding: 30px 0 0;
  }

  .footer__left {
    width: 100%;
    margin: 0;
  }

  .footer__right {
    flex-wrap: wrap;
    margin-bottom: 28px;
  }

  .footer__nav .nav__list {
    flex-wrap: wrap;
  }

  .footer__nav .nav__link {
    font-size: 15px;
    line-height: 20px;
  }

  .footer__nav {
    width: 100%;
    margin-right: 0;
    margin-bottom: 27px;
  }

  .footer__nav .nav__item:not(:last-child) {
    margin: 0;
  }

  .footer__nav .nav__item:not(:last-child) {
    margin-right: 32px;
  }

  .footer__nav .nav__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: var(--gap);
  }
  .social__item:not(:last-child) {
  margin-right: 24px;
  }

  .social__item:first-child {
  margin-left: -1px;
  }

  .social__item:last-child {
  padding-left: 5px;
  }

  .footer__left {
    flex-wrap: wrap;
  }

  .footer__logo {
    width: 81px;
    margin: 0;
    margin-bottom: 26px;
  }

  .footer__copy {
    position: relative;
    width: 100%;
    padding: 18px 0;
    text-align: center;
  }

  .footer__copy::before {
    content: "";
    position: absolute;
    top: 0;
    left: -15px;
    width: calc(100% + 30px);
    height: 1px;
    background-color: #C4C4C4;
  }
}