html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Regular'),
    url(../fonts/OpenSansRegular.woff2) format('woff2'),
    url(../fonts/OpenSansRegular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Light'),
    url(../fonts/OpenSansLight.woff2) format('woff2'),
    url(../fonts/OpenSansLight.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-SemiBold'),
    url(../fonts/OpenSansSemiBold.woff2) format('woff2'),
    url(../fonts/OpenSansSemiBold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
  max-width: 3840px;
  min-width: 1200px;
  margin: 0 auto;
  background-color: #FFF;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1C1C1C;
}

.section-descr{
  margin: 0;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 22px;
   color: #787878;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
}

.header {
  padding: 36px 0;
  border-bottom: 1px solid #C4C4C4;
  background-color: #fff;
}

.header-container {
  align-items: center;
}

.header-logo {
  margin-right: auto;
}

.header-nav {
  margin-right: 52px;
}

.header-list-item:not(:last-child) {
  margin-right: 52px;
}

.header-link {
  position: relative;
  font-weight: 600;
  font-size: 15px;
  color: #1C1C1C;
}

.header-link:focus {
  outline: 1px solid #71A7E2;
  outline-offset: 3px;
}

.header-link:hover {
  color: #71A7E2;
  ;
}

.header-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3474BA;
  opacity: 0;
}

.header-link:active {
  outline: none;
  color: #3172B9;
}

.header-link:active::after {
  opacity: 1;
}

.btn {
  position: relative;
  padding: 15px 35px;
  border-radius: 3px;
  outline: none;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  color: #FFF;
  background-color: #3172B9;
}

.btn::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  border: 1px solid #3172B9;
  border-radius: inherit;
  outline: none;
  opacity: 0;
}

.btn:focus::after {
  opacity: 1;
}

.btn:hover {
  background-color: #71A7E2;
}

.btn:active {
  background-color: #0E3B6C;
}

.btn:active::after {
 opacity: 0;
}

.btn:disabled {
  background-color: #C4C4C4;
}

/* hero */
.hero {
  padding: 113px 0 134px;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-content {
  max-width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.hero-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 40px;
  line-height: 130%;
  color: #1C1C1C;
}

.hero-descr {
  margin: 0;
  margin-bottom: 34px;
  font-size: 16px;
  line-height: 155%;
  color: #787878;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-btn {
  min-width: 250px;
  margin-bottom: 14px;
  padding: 20px 0;
}

.hero-secure {
  padding-left: 27px;
  font-size: 11px;
  line-height: 155%;
  text-transform: uppercase;
  color: #787878;
  background-image: url(../img/secure.svg);
  background-position: left center;
  background-size: 14px 17px;
  background-repeat: no-repeat;
}

/* services */
.services {
  border-bottom: 1px solid #DADADA;
}

.services-title {
  text-align: center;
}

.services-descr {
  text-align: center;
}

.services-item {
  flex-direction: column;
  align-items: center;
  min-width: 270px;
  padding: 60px 30px;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}

.services-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.services-item:hover {
  background-color: #3172B9;
  border-color: #3172B9;
}

.services-item-icon {
  margin-bottom: 25px;
  fill: #3172B9;
}

.services-item:hover .services-item-icon {
  fill: #FFF;
}

.services-item-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #1C1C1C;
}

.services-item:hover .services-item-title {
  color: #FFF;
}

.services-item-descr {
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
}

.services-item:hover .services-item-descr {
  color: #FFF;
}

/* articles */
.articles {
  border-bottom: 1px solid #DADADA;
}

.articles-list {
  flex-wrap: wrap;
}

.articles-item {
  width: 570px;
  margin-bottom: 30px;
}

.articles-item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.blog-preview {
  overflow: hidden;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}

.blog-preview-link {
  position: relative;
  width: 100%;
}

.blog-preview-link:focus {
  background-color: #71A7E2;
}

.blog-preview-link:focus .blog-preview-title {
  color: #FFF;
}

.blog-preview-link:focus .blog-preview-descr {
  color: #FFF;
}

.blog-preview-link:focus .blog-preview-time {
  color: #FFF;
}

.blog-preview-link:hover {
  background-color: #3172B9;
}

.blog-preview-link:hover .blog-preview-title {
  color: #FFF;
}

.blog-preview-link:hover .blog-preview-descr {
  color: #FFF;
}

.blog-preview-link:hover .blog-preview-time {
  color: #FFF;
}

.blog-preview-link:active {
  background-color: #0E3B6C;
}

.blog-preview-link:active .blog-preview-title {
  color: #FFF;
}

.blog-preview-link:active .blog-preview-descr {
  color: #FFF;
}

.blog-preview-link:active .blog-preview-time {
  color: #FFF;
}

.blog-preview-image {
  object-fit: cover;
}

.blog-preview-text {
  padding: 30px;
}

.blog-preview-time {
  display: block;
  margin-bottom: 5px;
  font-size: 10px;
  line-height: 150%;
  color: #787878;
}

.blog-preview-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #1C1C1C;
}

.blog-preview-descr {
  max-width: 210px;
  margin: 0;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
}

/* clients */
.clients {
  border-bottom: 1px solid #DADADA;
}

.clients-item {
  flex-direction: column;
  width: 370px;
  padding: 51px 36px;
  padding-bottom: 30px;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}

.clients-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.clients-item-descr {
  max-width: 281px;
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.clients-user {
  align-items: center;
  width: 100%;
  padding-top: 28px;
  border-top: 1px solid #DADADA;
}

.clients-avatar {
  flex-shrink: 0;
  width: 67px;
  margin-right: 17px;
}

.clients-avatar img {
  width: 100%;
  height: 100%;
  border: 2px solid #3172B9;
  border-radius: 100%;
}

.clients-name {
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
   color: #1C1C1C;
}

.clients-post {
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

/* contacts */
.contacts {
  border-bottom: 1px solid #DADADA;
}

.contacts-title {
  margin-bottom: 109px;
}

.contacts-address {
  font-style: normal;
}

.contacts-item {
  flex-direction: column;
  width: 370px;
  padding-top: 48px;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 29px 29px;
}

.contacts-item-address{
  background-image: url('../img/location.svg');
}

.contacts-item-phone{
  background-image: url('../img/phone.svg');
}

.contacts-item-mail{
  background-image: url('../img/mail.svg');
}

.contacts-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.contacts-item-caption {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
  color: #1C1C1C;
}

.contacts-item-text {
  max-width: 214px;
  margin: 0;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.contacts-item-link {
  max-width: max-content;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.contacts-item-link:focus {
  outline: 1px solid #71A7E2;
}

.contacts-item-link:hover {
  color: #71A7E2;
}

.contacts-item-link:active {
  outline: none;
  color: #0E3B6C;
}

/* join-us */
.join-us {
  border-bottom: 1px solid #DADADA;
}

.join-us-title {
  text-align: center;
}

.join-us-descr {
  text-align: center;
  margin-bottom: 30px;
}

.form {
  padding: 0 55px;
}

.form-top {
  justify-content: space-between;
  margin-bottom: 19px;
}

.form-top-left {
  flex-wrap: wrap;
  justify-content: space-between;
  width: 49%;
}

.form-input {
  width: 251px;
  height: 60px;
  padding: 15px 28px;
  border: 1px solid #DADADA;
  border-radius: 50px;
  opacity: 0.6;
}

.form-input:nth-child(-n+2) {
  margin-bottom: 19px;
}

.form-input:focus {
  background: rgba(113, 167, 226, 0.2);
  border-color: #71A7E2;
  outline: none;
}

.form-input:hover {
  border-color: #71A7E2;
}

.form-input:active {
  border-color: #0E3B6C;
}

.form-select {
  width: 251px;
  height: 60px;
  padding: 15px 28px;
  border: 1px solid #DADADA;
  border-radius: 50px;
  opacity: 0.6;
}

.form-select:focus {
  background: rgba(113, 167, 226, 0.2);
  border-color: #71A7E2;
  outline: none;
}

.form-select:hover {
  border-color: #71A7E2;
}

.form-select:active {
  border-color: #0E3B6C;
}

.form-top-right {
  width: 49%;
}

.form-textarea {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 15px 28px;
  border: 1px solid #DADADA;
  border-radius: 20px;
  opacity: 0.6;
}

.form-textarea:focus {
  background: rgba(113, 167, 226, 0.2);
  border-color: #71A7E2;
  outline: none;
}

.form-textarea:hover {
  border-color: #71A7E2;
}

.form-textarea:active {
  border-color: #0E3B6C;
}

.form-bottom {
  justify-content: flex-end;
}

.form-bottom-wrapper {
  flex-direction: column;
  align-items: center;
}

.form-btn {
  min-width: 230px;
  margin-bottom: 9px;
  padding: 20px 0;
  border-radius: 50px;
}

.form-check {
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.form-check-input {
  margin-right: 8px;
}

.form-check-link {
  color: #3172B9;
  text-decoration: underline;
}

/* footer */
.footer {
  padding: 42px 0;
}

.footer-container {
  align-items: center;
  justify-content: space-between;
}

.footer-left,
.footer-right {
  align-items: center;
}

.footer-logo {
  margin-right: 25px;
}

.footer-copy {
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.footer-link {
  position: relative;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #787878;
}

.footer-item:not(:last-child) {
  margin-right: 28px;
}

.footer-link:focus {
  outline: 1px solid #71A7E2;
  outline-offset: 3px;
}

.footer-link:hover {
  color: #71A7E2;
  ;
}

.footer-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3474BA;
  opacity: 0;
}

.footer-link:active {
  outline: none;
  color: #3172B9;
}

.footer-link:active::after {
  opacity: 1;
}

.footer-nav {
  margin-right: 56px;
}

.social-item:not(:last-child) {
  margin-right: 26px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.social-link svg {
  fill: #000;
}

.social-link-mail svg {
  fill: transparent;
  stroke: #000;
}

.social-link:focus {
  outline-offset: 2px;
  outline: 1px solid #71A7E2;
}

.social-link:hover svg {
  fill: #71A7E2;
}

.social-link-mail:hover svg {
  fill: transparent;
  stroke: #71A7E2;
}

.social-link:active svg {
  fill: #3172B9;
}

.social-link-mail:active svg {
  fill: transparent;
  stroke: #3172B9;
}
